<nav class="navbar navbar-expand-lg navbar-light bg-light" style="max-width: 100vw; height: 80px;">
  <div class="container-fluid">
    <% if !user_signed_in? %>
      <%= image_tag "logo.png", alt: "CGM-RJ", width: 50 %>
    <% end %>

    <div class="collapse navbar-collapse me-4" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
