<div class="container d-flex justify-content-center my-5">
  <div class="col-8">
    <div class="border rounded p-5">
      <h1 class="d-flex justify-content-center mb-5">Adicione um novo risco</h1>
      <%= render "shared/form_risco", processo: @processo, risco: @risco, tipo_de_risco: @tipo_de_risco, associacao_risco: @associacao_risco, dimensoes_risco: @dimensoes_risco, probabilidade: @probabilidade, impacto: @impacto, resposta_sugerida_para_risco: @resposta_sugerida_para_risco %>
    </div>
  </div>
</div>
