<div class="container d-flex justify-content-center my-5">
  <div class="col-8">
    <div class="border rounded p-5">
      <h1 class="d-flex justify-content-center mb-5">Adicione um novo risco</h1>
      <%= render "shared/form_risco", processo: @processo, risco: @risco %>
    </div>
  </div>
</div>
