<div style="height: 100vh; width: auto;">
  <div class="container d-flex justify-content-center mt-4">
    <h1>Painel</h1>
    <div>
      <%= pie_chart User.group(:name).count %>
    </div>
  </div>
</div>
